# [submodule "submodules/umi_day"]
# 	path = submodules/umi_day
# 	url = git@github.com/mimichu/umi_day_ft.git
# [submodule "submodules/umi_day_iphone"]
# 	path = submodules/umi_day_iphone
# 	url = git@github.com:mimichu/umi_day_iphone.git
# [submodule "submodules/hardware_interfaces"]
# 	path = submodules/hardware_interfaces
# 	url = git@github.com:mimichu/hardware_interfaces.git
# [submodule "submodules/cpplibrary"]
# 	path = submodules/cpplibrary
# 	url = git@github.com:mimichu/cpplibrary.git
# [submodule "submodules/force_control"]
# 	path = submodules/force_control
# 	url = git@github.com:mimichu/force_control.git
# [submodule "submodules/yaml-cpp"]
# 	path = submodules/yaml-cpp
# 	url = git@github.com:jbeder/yaml-cpp.git
# [submodule "submodules/ur_rtde"]
# 	path = submodules/ur_rtde
# 	url = https://gitlab.com/sdurobotics/ur_rtde.git
# [submodule "submodules/universal_manipulation_interface"]
# 	path = submodules/universal_manipulation_interface
# 	url = git@github.com:real-stanford/universal_manipulation_interface.git
# [submodule "submodules/PyriteML"]
# 	path = submodules/PyriteML
# 	url = https://github.com/yifan-hou/PyriteML.git
